#footer {
    background-color: orange;
    width: auto;
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;

}

#footer__id {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    font-family: 'Oswald', sans-serif;  
}