#fichaProducto {
    width: 11em;
    display: flex;
    flex-direction: column;
    border: black solid 2px;
}

#contadorProducto {
    width: 11em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}