#fichaContador {
    width: 11em;
    display: flex;
    flex-direction: column;
   
}

#contadorProducto {
    width: 11em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}