@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@700&display=swap'); 

#navbar {
    width: auto;
    background-color: orange;
    display: flex;
    flex-direction: row;
}

#logo {
    width: 5em;
    margin: 1em;
}
    
    

.links {
    margin: 2em;
    font-size: 1.8em;

}

#carrito {
    padding-top: 1.7em;
    size: 10em;
}
